.toggle {
  position: relative;

  display: flex;
  align-content: space-around;
  flex-wrap: wrap;

  padding: 5px;

  width: 40px;
  height: 40px;

  background-color: transparent;
  border-radius: 4px;

  &:hover {
    box-shadow: 0 0 0 1px rgba(255, 255, 255,  0.5);
  }

  &--arrow {
    display: flex;
    justify-content: center;

    padding: 0;

    width: 30px;
    height: 30px;

    font-size: 18px;
    color: #ffffff;

    border-radius: 0;
    box-shadow: 0;

    &-rotate {
      animation-name: rotate;
      animation-duration: 0.3s;
    }
  }
}

.toggle__shape {
  fill: rgb(255, 255, 255);

  &:hover {
    fill: lightgray;
  }

  &--hidden {
    display: none;
  }
}


.toggle__tooltip {
  position: absolute;
  top: 55px;

  padding: 8px;

  font-size: 10px;

  background-color: #ffffff;

  border: 1px solid #ebebeb;
  border-radius: 5px;

  span {
    position: relative;
    display: block;

    &::before {
      content: '';

      position: absolute;

      top: -13px;
      left: 5px;

      width: 12px;
      height: 12px;

      background-color: #ffffff;

      transform: rotate(45deg);
    }

  }
}


@keyframes rotate {
  from {
    transform: rotate(-90deg);
  }

  to {
   transform: rotate(180deg);
  }
}


@keyframes bubble-tooltip {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}



@media (min-width: $tablet) {
  .toggle {
    display: none;
  }
}


