@font-face {
  font-family: "crimson_textbold";
  src: url("../fonts/crimsontext-bold-webfont.woff2") format("woff2"),
    url("../fonts/crimsontext-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: "crimson_textbold_italic";
  src: url("../fonts/crimsontext-bolditalic-webfont.woff2") format("woff2"),
    url("../fonts/crimsontext-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: "crimson_textitalic";
  src: url("../fonts/crimsontext-italic-webfont.woff2") format("woff2"),
    url("../fonts/crimsontext-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: "crimson_textregular";
  src: url("../fonts/crimsontext-regular-webfont.woff2") format("woff2"),
    url("../fonts/crimsontext-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: "crimson_textsemibold";
  src: url("../fonts/crimsontext-semibold-webfont.woff2") format("woff2"),
    url("../fonts/crimsontext-semibold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: "crimson_textsemibold_italic";
  src: url("../fonts/crimsontext-semibolditalic-webfont.woff2") format("woff2"),
    url("../fonts/crimsontext-semibolditalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;

}
