@import url(https://fonts.googleapis.com/css?family=Cookie|Raleway:300,700,400);

body {
  margin: 0;
  padding: 0;

  min-width: 320px;
  min-height: 100vh;

  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #333333;
}

*:focus {
  outline-offset: 3px;
    outline: 1px dashed #00bcd4;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol,
ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

button {
  padding: 0;
  border: none;

  border-radius: 0;
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 0;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: none;

  clip: rect(0, 0, 0, 0);
}

